.circle-image{
    /* border-radius: 50%;
    max-width: 100%;
    height: 100%;
    width: 100%; */
    width: 15rem;
    height: 15rem;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #4679BD;
}

.full-image{
    /* border-radius: 50%;
    max-width: 100%;
    height: 100%;
    width: 100%; */
    width: 100%;
    height: auto;
    background: #4679BD;
    margin: 0;
  padding: 0;
}